.progress_bar-container{
  width: 215px;
  display: inline-block;
  position: relative;
}

.progress_bar-color-primary{
  background-color: #f8f8f8 !important;
  height: 12px !important;
}

.progress_bar-bar-color-primary{
  background-color: #5eb154 !important;
  border-radius: 3px;
  transition: initial !important;
}

.progress_bar-numeric-value{
  position: absolute;
  top: 5px;
}