.p_body-content {
  background-color: white;
  border-radius: 8px;
  border: black solid 1px;
  padding: 13px 10px 26px 10px;
}

.p_body-top {
  padding-bottom: 25px;
  text-align: center;
}

.p_body-span {
  color: #787878;
  font-weight: bold;
  margin-right: 10px;
}

.p_body-target {
  background: #929292;
  border: 1px black solid;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 8px 5px;
}

.p_body-bottom {
  color: #787878;
  text-align: center;
  vertical-align: middle;
}

.p_body-info-icon {
  margin-right: 5px;
  vertical-align: middle;
  width: 20px;
}
